
<footer>
  <div class="center">
    <p>
      Made with <span class="glyphicon glyphicon-heart"></span> 
    </p>
    <p>
      © Copyright 2020 Microsoft and individual contributors from University of Washington.
    </p>
  </div>  
</footer>