html, body, body>div {
  height: 100%;
  font-family: 'Roboto', sans-serif
}

.App {
  text-align: center;
  background: #595968;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sample-component {
  margin: 100px 100px;
  background-color: white;
  text-align: left;
}

.card-outline {
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left;
  width: 395px;
}

.card-top {
  height: 25px;
}

.card-header {
  mix-blend-mode: normal;
  border-radius: 8px 8px 0px 0px;
  padding-left: 15px;
  background-color: #FFF4CE;
  margin: 0px 15px;
  color: #8F761E;
}

.card-header-logo {
  margin: 12px 5px;
  vertical-align: middle;
}

.card-header-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  vertical-align: middle;
}

.card-header-chevron-open {
  position: absolute;
  mix-blend-mode: normal;
  opacity: 0.54;
  transform: rotate(-90deg);
  right: 0;
  cursor: pointer;
}

.card-header-chevron-closed {
  position: absolute;
  mix-blend-mode: normal;
  opacity: 0.54;
  transform: rotate(90deg);
  right: 0;
  cursor: pointer;
}

.card-body {
  padding-left: 15px;
  display: inline-block;
}

.card-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.87);
  margin: 15px 0px;
}

.card-address {
  font-weight: normal;
  line-height: 25px;
  color: #232323;
}

.card-dates {
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #346BAC;
}

.card-separator {
  border: .2px solid rgba(0, 0, 0, 0.3);
}

.card-description {
  font-size: 15px;
  color: #6E6E6E;
  margin: 20px 0px;
  width: 331px;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-calendar-icon {
  align-self: flex-start;
  padding: 15px 10px;
}

.card-calendar {
  display: inline-block;
}

.card-calendar-dropdown a {
  display: block;
  color: rgb(228, 45, 45);
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  padding: 6px;
}

.action-link {
  font-size: 15px;
  line-height: 50px;
  color: #3278CE;
  cursor: pointer;
}

.card-footer img {
  padding: 15px 10px;
  align-self: flex-start;
}

.mobile-preview {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.54), rgba(255, 255, 255, 0.54));
  backdrop-filter: blur(60px);
  border-radius: 14px;
  width: 393px;
  height: 95px;
  text-align: left;
}

.mobile-preview-header {
  padding: 10px;
}


.mobile-preview-icon {
  width: 15px;
  height: 15px;
}

.mobile-preview-appname {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: black;
  width: 256px;
  vertical-align: top;
  margin-left: 5px;
}

.mobile-preview-time {
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  right: 15px;
}

.mobile-preview-body {
  margin-left: 10px;
}

.mobile-preview-body p {
  margin: 0 auto;
}

.mobile-preview-title {
  font-size: 16px;
  line-height: 22px;
  color: black;
  font-weight: bold;
}

.mobile-preview-description {
  font-size: 16px;
  line-height: 22px;
  color: #363941;
}

#tracer-form {
  width: 513px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px 0px 0px 4px;
}

.tracer-form-type-select {
  background: #E4E5E9;
  border-radius: 4px;
  width: 181px;
  height: 46px;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tracer-form-title {
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
  margin-left: 40px;
  margin-bottom: 20px;
}

.tracer-form-address{
  margin-left: 10px;
  margin-bottom: 10px;
}

.tracer-form-address input {
  font-size: 20px;
  line-height: 25px;
}

.city {
  margin-left: 20px;
}

.state {
  width: 50px;
}

.zip {
  width: 100px;
}

.tracer-form-address-street {
  margin-bottom: 10px;
}

.tracer-form-dates {
  font-size: 20px;
  line-height: 25px;
  color: #346BAC;
  margin-left: 40px;
}

#tracer-form-dates-separator {
  margin: 10px 10px;
}

.tracer-form-description {
  background: #F4F9FD;
}

.tracer-form-textbox {
  background: white;
  border: .5px solid #DCDEE3;
  border-radius: 4px;
  width: 475px;
  height: 250px;
  margin-left: 20px;
  margin-top: 25px;
}

.tracer-form-textbox {
  font-size: 14px;
  line-height: 20px;
  color: #A9AEBF;
}

.tracer-form-buttons {
  float: right;
}

.cancel-button {
  background: #8D55E9;
  border-radius: 8px;
  margin-right: 6px;
  padding: 10px 10px;
  color: white;
  cursor: pointer;
  border: 1px solid white;
}

.publish-button {
  background: white;
  border-radius: 8px;
  padding: 10px 10px;
  color: #8D55E9;
  cursor: pointer;
}

.create-psa-header {
  background: #8D55E9;
  border-radius: 8px 8px 0px 0px;
  font-size: 22px;
  line-height: 28px;
  color: white;
  padding: 15px 30px;
}

.create-psa-left-pane {
  background: #595968;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px 0px 0px 4px;
  padding-left: 70px;
  flex: 50%;
}

.create-psa-preview {
  font-size: 20px;
  line-height: 25px;
  color: #9BA6B3;
  margin-top: 20px;
}

.create-psa-preview-label {
  font-size: 20px;
  line-height: 20px;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.create-psa-card-preview {
  margin-top: 20px;
  margin-bottom: 40px;
}

.flex-container {
  display: flex;
}

.create-psa-middle-pane {
  flex: 50%;
  background: white;
}

.create-psa-container {
  width: 1100px;
  margin: 0 auto;
}

.landing-page-leftpane {
  flex: 20%;
}

.landing-page-right-pane {
  flex: 80%;
}

.landing-page-container {
  background: #F8F8F8;
  height: 90%;
}

.landing-page-top {
  height: 70px;
}

.landing-page-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #212324;
  text-align: center;
}

.landing-page-updated {
  font-size: 15px;
  line-height: 37px;
  color: #5E6A79;
  font-style: italic;
  text-align: center;
}

.landing-page-find-location {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.landing-page-filter-sort {
  font-size: 14px;
  line-height: 20px;
  color: #008FFF;
  text-align: center;
}

.create-psa-button {
  background: #8D55E9;
  border-radius: 8px;
  border: 2px solid #8D55E9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: white;
  padding: 15px 30px;
  cursor: pointer;
  position: relative;
  z-index: 100;
  float: right;
}

.form-container {
  position: relative;
  z-index: 100;
  height: 100%;
}

.user-profile {
  text-align: center;
}

.landing-page-location-container {
  text-align: center;
}

.landing-page-cards {
  overflow-y: auto;
  height: 75%;
}

.landing-page-cards>div {
  margin-bottom: 10px;
  margin-left: 20px;
}

.download-button {
  background: #8D55E9;
  border-radius: 4px;
  color: white;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  position: absolute;
  right: 1%;
  bottom: 10%;
  padding: 10px;
  cursor: pointer;
  position: fixed;
  z-index: 1;
  bottom: 0;
}

.download-button>img {
  vertical-align: bottom;
}

.landing-page-map {
  position: relative;
  height: 80%;
}

.all-day-switch {
  position: relative;
  display: inline-block;
}

.all-day-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.landing-page-filters {
  padding-top: 20px;
}

.tracer-form-pin {
  vertical-align: middle;
}

.clock-icon {
  margin-left: 30px;
  vertical-align: middle;
}

#map-filter-times-separator {
  margin: 0px 18px;
}

.all-day-switch {
  margin: 0px 50px;
}

.map-filter-calendar-icon {
  vertical-align: middle;
  margin-right: 5px;
}

#map-filter-dates-separator {
  margin: 0px 18px;
}

.slider-container {
  display: inline-block;
  margin-left: 20px;
}

.filter-save-text {
  font-size: 20px;
  line-height: 23px;
  color: #0C0B0B;
  opacity: 0.6;
  margin-left: 20px;
}

.saved-settings-icon {
  margin-left: 20px;
  vertical-align: middle;
}

.confirmation-modal-container {
  background: #F8F9F9;
  border: 1px solid #EAD7D7;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 500px;
  padding: 30px;
  text-align: center;
  position: absolute;
  left: 35%;
  top: 25%;
}

.confirmation-card {
  margin: 50px auto;
}

.confirmation-card .card-outline {
  width: initial;
}

.confirmation-modal-text {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: black;
  margin-bottom: 30px;
}

.confirmation-modal-yes {
  color: white;
  background: #8D55E9;
  cursor: pointer;
  border-radius: 3.7px;
}

.confirmation-modal-no {
  color: #141414;
  background: #F1F1F1;
  border-radius: 3.7px;
  cursor: pointer;
  margin-right: 6px;
}

.confirmation-modal-separator {
  transform: rotate(90deg);
  border: 1px solid #D1B9B9;
  display: inline;
  margin: 0px 30px;
}

.hidden {
  display: none;
}

.confirmation-modal-buttons {
  text-align: center;
}

.confirmation-modal-buttons button {
  font-size: 22px;
  padding: 10px 5px;
}

.published-text {
  font-size: 25px;
  line-height: 28px;
  color: #387926;
}

.published-text {
  margin: 20px 0px;
}

.published-checkmark {
  margin-bottom: 20px;
}

#CovidBingMap {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 10px;
}

.signin-button {
  float: right;
  color: white;
  background: #8D55E9;
  text-align: center;
  border: 2px solid #8D55E9;
  border-radius: 8px;
  font-size: 22px;
  line-height: 28px;
  padding: 8px 20px;
  margin: 10px 30px;
  cursor: pointer;
}

.signIn-title {
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 50px;
}

.signIn-Form {
  padding: 20px 30px;
  z-index: 200;
  background: white;
  position: absolute;
  left:40%;
  top: 25%;
  border-radius: 10px;
  width: 355px;
  box-shadow: 0px 30.4286px 30.4286px rgba(0, 0, 0, 0.3), 0px 0px 30.4286px rgba(0, 0, 0, 0.22);
}

.signIn-Message {
  margin-top: 35px;
  margin-bottom: 13px;
}

.signIn-options {
  font-size: 16px;
  margin-top: 18px;
}

#forgot-password {
  float: right;
  color: rgba(0, 0, 0, 0.5);
}

.signIn-buttons button{
  background: #FAFAFA;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
  border-radius: 8px; 
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.signIn-Field {
  background: #F8F8F8;
  font-size: 20px;
  line-height: 30px;
  display: block;
  border-style: none none solid none;
  border-color: #8D55E9;
  width: 100%;
}

.signIn-Field.error-Field{
  border-color: red;
}

.signIn-Link {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.signIn-buttons {
  margin-top: 30px;
}

.signIn-buttons span {
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  letter-spacing: .6px;
  text-transform: uppercase;
  cursor: pointer;
}

.signIn-continue-button {
  margin-bottom: 10px;
}

#username-field {
  margin-bottom: 25px;
}

.app-header {
  margin-top: 35px;
}

#app-header-image {
  vertical-align: bottom;
  margin-right: 10px;
}

#app-header-title {
  font-size: 28px;
}

.share-button {
  display: inline;
  line-height: 60px;
}

#radius-input {
  width: 100px;
}

#radius-slider {
  width: 100%;
}

.footer {
  align-items: center;
  align-self: center;
  text-align: center;
  background: #F8F8F8;
  height: 10%;
}

.footer p {
  margin: 0 0 10px;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(./fonts/glyphicons-halflings-regular.eot);
  src: url(./fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),url(./fonts/glyphicons-halflings-regular.woff) format('woff'),url(./fonts/glyphicons-halflings-regular.ttf) format('truetype'),url(./fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.glyphicon-heart:before {
  content: "\e005";
  box-sizing: border-box;
}