<!doctype html>
<html lang="en">

<%- include('../includes/head')  %>

<body>
  <div>
    <div class="container">
      <%- include('../includes/nav') %>
      <div class="jumbotron">
        <p>Woops! 404: Page not found.</p>
      </div>
    </div>
  </div>
</body>

</html>