<html>

<%- include('../includes/head') %>

<body>
  <div>
    <div class="container">
      <%- include('../includes/nav') %>
      <div class="jumbotron">
        <p>
          This is place to put detail description about you and your company.
        </p>
      </div>
    </div>
</body>

</html>