<!-- views/pages/index.ejs -->

<!DOCTYPE HTML>
<html lang="en">
<%- include('../includes/head') %>

<body>
  <div class="container">
    <%- include('../includes/nav') %>
    <div class="jumbotron">
      <p>
        Volunteers from Microsoft and University of Washington have built a web-based dashboard where anyone can access narrowcast COVID-19 report messages sent by healthcare authorities.
      </p>
      <hr/>
      <div class="dashboard_mapContainer">
        <iframe src="https://static.topos.com/covid19/nyc/index.html" class="mapIframe" id="toposMap" width="100%"
          height="700px" style="position: relative; display: initial;"></iframe>
      </div>
    </div>
    <%- include('../includes/footer') %>
  </div>
</body>

</html>